<?xml version="1.0" encoding="utf-8"?>


<configuration>
<configSections>
      <section name="oauth_configuration" type="ZCRMSDK.CRM.Library.Common.ConfigFileHandler.ConfigFileSection, ZCRMSDK"></section>
      <section name="zcrm_configuration" type="ZCRMSDK.CRM.Library.Common.ConfigFileHandler.ConfigFileSection, ZCRMSDK"></section>
</configSections>
      <oauth_configuration>
            <settings>
                  <add key = "client_id" value = "1000.522HB3WI52Q679002L4O6H06FMHUCH" />
                  <add key = "client_secret" value = "854d4cf847fb7827b307af55dd45f92a278dd68b96" />
                  <add key = "redirect_uri" value = "https://www.zohoapis.com/crm/v2/" />
                  <add key = "access_type" value = "offline" />
                  <add key = "iamUrl" value = "https://accounts.zoho.com/" />
                  <add key = "persistence_handler_class" value = "ZCRMSDK.OAuth.ClientApp.ZohoOAuthFilePersistence, ZCRMSDK"/>
                  <add key = "mysql_username" value = "" />
                  <add key = "mysql_password" value = "" />
                  <add key = "mysql_database" value = "" />
                  <add key = "mysql_server" value = "" />
                  <add key = "mysql_port" value = "" />
                  <add key = "oauth_tokens_file_path" value = "e:\ashok\AuthTokens" />
            </settings>
      </oauth_configuration>
      <zcrm_configuration>
            <settings>
                  <add key = "apiBaseUrl" value = "https://www.zohoapis.com/"/>
                  <add key = "photoUrl" value = "https://profile.zoho.com/api/v1/user/self/photo"/>
                  <add key = "apiVersion" value = "v2"/>
                  <add key = "logFilePath" value = "E:\Ashok\AuthTokens\Log"/>
                  <add key = "timeout" value = ""/>
                  <add key = "minLogLevel" value = "WARNING"/>
                  <add key = "currentUserEmail" value = "ashok.kasar@ayanworks.com" />
                  <add key = "domainSuffix" value = "" />
            </settings>
      </zcrm_configuration>
</configuration>